<ion-header>
  <ion-toolbar>
    <ion-title>Eliminar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="productoActivo">
    <ion-img [src]="productoActivo.imagen"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{ productoActivo.nombre }}
      </ion-card-title>
      <ion-card-subtitle>
        {{productoActivo.precio | currency:'CLP'}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider></ion-item-divider>
      <ion-label>
        {{ productoActivo.detalle }}
      </ion-label>
    </ion-card-content>
    <ion-card-content style="display: flex; justify-content: space-between;">
      <ion-button [routerLink]="['']" color="primary">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="borrarProducto()">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

